body {
    font-family: 'Poppins';
    background-color: #D5DCE3;
    margin-bottom: 313px;
    margin-left: 0;
}


main h2 {
    padding-top: 83px;
    margin-left: 5%;
    font-weight: 600; 
}
  
main h2::after{
    background-color: #333;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 80%;
    margin: 13px;
}


.faq-heading{
    border-bottom: #777;
    padding: 20px 60px;
}

.faq-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hr-line{
  width: 68%;
  margin: auto;
  
}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
    /* background-color: #eee; */
    cursor: pointer;
    padding: 30px 20px;
    width: 68%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
    font-weight: 500;
    font-size: larger;

}
.faq-body{
    margin: auto;
    /* text-align: center; */
   width: 50%; 
   padding: auto;
   
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
    background-color: #325075;
    border-radius: 10px;
    color: #fff;
}

/* Style the faq-page panel. Note: hidden by default */
.faq-body {
    padding: 0 18px;
    background-color: #889db8;
    display: none;
    overflow: hidden;
    border-radius: 0px 0px 10px 10px;
}

.faq-page:after {
    /* Unicode character for "plus" sign (+) */
    content: "\2795";
    font-size: 13px;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}