
* {
    box-sizing: border-box;
  }

  .changes {
    float: left;
    background-color: #243F61;
    width: 16em;
    margin-right: -12em;
    margin-top: 5em;
    margin-left: 1em;
    border-radius: 1em;
  }
  
  
  .change {
    background-color: #ccc;
    color: black;
    margin-left: 1em;
    margin-right: 1em;
    width: 100%;
    max-width: 14em;
    border-radius: 1em;
  }

  .change_type {
    display: flex;
    justify-content: center;
  }

  .change_info{
    display: flex;
    justify-content: center;
  }
  
  .change section {
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }
  

  body{
    font-family: 'Poppins';
    margin: 8px;
    background-color: #D5DCE3;
    background-image: url(../images/inquiries_background.jpg);
    background-size: cover;
  }
  
  #myInput {
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    border-radius: 10px;
    font-family: 'Poppins';
  }
  
  #myUL {
    list-style-type: none;
    padding: 16px 8px;
    background-color:rgb(148, 179, 221);
    border-radius: 10px;
  }
  
  #myUL li a {
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: -1px; /* Prevent double borders */
    background-color: #ddd;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    margin-bottom: 0;
  }

  #myUL li{
    background-color: white;
    border-radius: 10px;
    width: 18em;
    text-align: left;

  }

  #myUL li a:hover:not(.header) {
    background-color:  #f6f6f6;
  }

.inquiries{
  display: grid;
  grid-template-columns: 19em 63em;
  grid-gap: 13em;
  margin-top: 5em;
  margin-left:1em;
  width: 80em;
}
  
.chat{
  display: grid;
  grid-template-rows: 38em auto;
  grid-row-gap: 2em;
  max-width: 80%;
}

.container{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 20px;
    background-size: cover;
    background-color: #D5DCE3;
}

#chat-input{
    border-radius:10px;
    padding: 12px;
    border: 0;
    font-family: 'Poppins';
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#message-container {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.message {
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

.user-message {
    background-color: #f0f0ff;
    align-self: flex-end;
}

.agent-message{
  background-color: #90EE90;
}

.received-message {
    background-color: #e0e0e0;
}

.clients button{
  font-family: 'Poppins';
  position: absolute;
  top: 207px;
  left: 306px;
  appearance: none;
  background-color: transparent;
  border: 2px solid #182139;
  border-radius: 15px;
  box-sizing: border-box;
  color: #182139;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.clients button:hover{
  color: #fff;
  background-color: #182139;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}